*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100vh;
    padding-top: 2vh;
    padding-inline: 40px;
    background-color:rgba(31, 116, 202, 0.114) ;

}
.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.left{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: skyblue;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
}
.right ul {
    display: flex;
    
}
.right ul li{
    padding-inline: 20px;
    list-style: none;
    font-size: 20px;
}
.right ul li:first-child{
    color: skyblue;
    text-decoration: underline;
}
.right i{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color:rgb(61, 174, 219);
    text-align: center;
    padding-top: 5px;
    color: white;
}
.text-area{
    width: 100%;
    height: 83vh;
    display: flex;
}
.first{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-inline: 50px; */
    
}
.top{
    width: 100%;
    height: 60%;
    display: flex;
    background-color:rgb(61, 174, 219) ;
    color: white;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-inline: 50px; 

}
.top span{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.top h1{
    font-size: 100px;
    font-weight: 400;
    /* text-align: center; */
    padding-block: 10px;
}
.top p{
    font-size: 20px;
}
.top h6{
    padding-block: 10px;
    font-size: 20px;
    font-weight: 900;
}

.bottom{
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    padding-top: 20px;
    padding-inline: 50px;
    flex-direction: column;
}
.box{
   display: flex;
   justify-content: space-around;
   position: relative;
   top: -30px;
}
.box div{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    
}
.div:nth-child(1){
    background-color: rgb(241, 79, 106);
    border: 1px solid white;

}
.div:nth-child(2){
    background-color: rgb(213, 126, 141);
}
.div:nth-child(3){
    background-color: gray;
}
.div:nth-child(4){
    background-color: black;
}
.bottom span{
    display: flex;
}
.bottom h1{
    font-size: 30px;
    color: gray;
}
.bottom h3{
    font-size: 15px;
    padding: 15px;
}
.bottom h3 em{
    color: skyblue;
}
.bottom button{
    width: 120px;
    height: 40px;
    margin: 10px;
    border: 1px solid gray;
    background-color: white;
}
#first-btn{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}
#first-btn i{
    width: 30%;
    height: 100%;
    font-size: 30px;
    background-color: rgb(248, 188, 110);


}
#second-btn{
    width: 150px;
    border-radius: 30px;
    color: white;
    background-color: rgb(25, 135, 178);
}
#second-btn i{
    /* height: 100%; */
    /* width: 20%; */
    border-radius: 30px;
    padding: 8px;
    background-color: white;
    color: skyblue;
}
#b-third i{
    color:rgb(61, 174, 219);
    padding: 10px;
}


.second{
    width: 55%;
    height: 100%;
    background-image: url(https://i.pinimg.com/736x/ab/fd/e1/abfde1932ad7c8a3c02719f5fa3db025.jpg);
    background-position: center;
    background-size: cover;
}
.second .top{
    background-color: rgba(245, 171, 73, 0.519);
    /* transform: rotate(90deg); */

}
.second .top h1{
    transform: rotate(270deg);
    position:  relative;
    bottom: 180px;
    right: 250px;
    font-size: 70px;
}
.second .bottom{
    background-color: rgba(233, 159, 62, 0.303);

}




/* responsive 768px */
@media(max-width:768px){
    .main-container{
        width: 100%;
        height: 100vh;
        padding: 0;
    }
    .navbar{
        width: 100%;
        height: 10vh;
    }
    .left{
        font-size: 20px;
        width: 40%;
        font-size: 25px;
    }
    .right{
        width: 60%;
       
        
    }
    .right ul{
        align-items: center;
    }
    .right ul li{
        font-size: 15px;
        padding-inline: 10px;
    }
    .right i{
        height: 20px;
        width: 20px;
    }
    .text-area{
        width: 100%;
        height: 90vh;
    }
    .first{
        width: 50%;
        height: 100%;
        
    }
    .second{
        width: 50%;
        height: 100%;
    }
    .top{
        width: 100%;
        height: 60%;
        padding-inline: 20px;
    }
    .bottom{
        width: 100%;
        height: 40%;
        padding-inline: 20px;
    }
    .top span{

        font-size: 15px;
    }
    .top p{
        font-size: 15px;
    }
    .top  p br{
        display: none;
    }
    .top h1{

        font-size: 60px;
    }
    
    .bottom h1{
        font-size: 15px;
    }
    .bottom  h3{
        /* padding-left: 10px; */
        padding: 4px;
        font-size: 12px;
    }
    .bottom button{
        margin-block: 20px;
    }
     #first-btn {
        width: 100px;
        height: 30px;
     }
    #first-btn i{
    
        font-size: 25px;
       
    }
    #second-btn{
        width: 140px;
        height: 30px;
        font-size: 10px;
    }
    #second-btn i{
        display: none;
        font-size: 10px;
        
    }
    #b-third i{
        font-size: 15px;
        padding: 0;
        padding-inline: 10px;

    }
    .second .top h1{
        font-size: 40px;
        transform: none;
        position: relative;
        right: 0;
        bottom: 70px;
    }
}




/* responsive 480px */
@media(max-width:480px){
    .main-container{
        width: 100%;
        height: auto;
    }
    .left{
        width: 60%;
    }
    .right ul{
        display: none;
    }
    .right{
        width: 40%;
        justify-content: end;
        margin-right: 30px;
    }
    .right i{
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
    .text-area{
        height: auto;
        flex-direction: column-reverse;
    }
    .second{
        width: 100%;
        height:60vh;
    
    }
    .second .top h1{
        bottom: 30px;
        
    }
   
    .first{
        width:100%;
        height:auto ;
    }
    .first span{
        font-size: 20px;
    }
    .first .top{
        height: 50vh;
    }
    .bottom{
        height: 30vh;
    }
}